@import "variables";

.delInput {
  border-radius: 5px 0px 0px 5px;
  border: 1px solid $grey;
  padding: 15px 20px;
  width: 150px;
  height: 23px;
}

.confirm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.med_button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: $blue;
  padding: 20px;
  display: flex;
  border: none;
  height: fit-content;
  width: auto;
  &:hover {
    background-color: red;
  }
}

.left_button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: $blue;
  padding: 20px;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  border: 2px solid $lightGrey;
  height: fit-content;
  width: auto;
  &:hover {
    background-color: darken($blue, 20%);
  }
}
