@import "variables";

.listOfFilms {
  background-color: white;
  border-radius: 5px;
  padding: 5px 5px;
  padding-bottom: 0px;
  color: $grey;
}

.film{
    background-color: $lightGrey;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.title{
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

.buttonRight {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: $blue;
    padding: 20px;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    border: 1px solid white;
    height: fit-content;
    width: auto;
    &:hover {
      background-color: darken($blue, 20%);
    }
  }
  
  .buttonLeft {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: $blue;
    padding: 20px;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    border: 1px solid white;
    border-right: 0px;
    height: fit-content;
    width: auto;
    &:hover {
      background-color: darken($blue, 20%);
    }
  }
